{% extends "base.html.twig" %}

{% block title %}
	Envoyer votre sinistre
{% endblock %}


{% block body %}
	<style>

		body {
			background-color: #181a19;
		}


		.main {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		.btn-center {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			background-color: #ff0000; /* Couleur du bouton */
			color: #ffffff; /* Couleur du texte */
			font-size: 30px;
			font-weight: bold;
			text-align: center;
		}

		.btn-center:hover {
			background-color: #ff3333; /* Couleur du bouton au survol */
			cursor: pointer;
		}
	</style>

	<div class="main">
		<div class="btn-center" onclick="getAccidentNew()">Déclarer un sinistre</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script type="text/javascript">
		function getAccidentNew() {
window.location.href = '{{ path("app_accident_support_new") }}';
};
	</script>
{% endblock %}
